<!DOCTYPE html>
<html>
<head>
  <title>mezmurs</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <%= stylesheet_link_tag    "application", 'https://fonts.googleapis.com/css?family=Raleway:500,600,700,800,900,400,200,300' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
